/* Root Variables */
:root {
    --primary-color: #3C686B;
    --secondary-color: #365C34;
    --text-color: #121912;
    --background-color: #F2EFEA;
}

/* Body Styles */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
}
/* Reset */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

/* Header Styles */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    text-align: center;
    height: 100px; 
    background-color: transparent;
    z-index: 4;
}

hero {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    color: var(--background-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Center text vertically */
}

hero#index-hero {
    height: 100vh; /* Full height for index page */
}

hero#other-hero {
    height: 50vh; /* Smaller height for other pages */
}

hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    filter: brightness(40%); 
    pointer-events: none; 
    z-index: 1; 
}
.hero-slide {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out; 
}

.hero-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-slide.active {
    display: block;
    opacity: 1;
}

.hero-slide.inactive {
    opacity: 0;
}

.hero-prev, .hero-next {
    display: none; /* Hide arrow elements */
}

.hero-dots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 2;
}

.hero-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.hero-active, .hero-dot:hover {
    background-color: #717171;
}

nav {
    z-index: 4;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 0;
}

.menu-left, .menu-center, .menu-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.menu-left {
    justify-content: flex-start;
    margin-top: 30px;
}

.menu-center {
    justify-content: center;
    margin-top: 20px;
}

.menu-right {
    justify-content: flex-end;
    margin-top: 30px;
}

.menu-left li a, .menu-right li a, nav ul li a {
    color: var(--background-color);
    text-decoration: none;
    text-transform: uppercase;
}

.menu-left a.active, .menu-right a.active {
    background-color: transparent;
    text-decoration: underline; 
    text-underline-offset: 5px;

}
.container-price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;

}
.price {
    font-size: 13px;
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px;
    border-radius: 20px;
}
.text-price{
font-size: 13px;
    text-align: center;
    font-family: "BodoniModa", serif;
}
.logo {
    height: 125px;
    width: 135px;
}

.subtitle {
    font-family: 'BodoniModa', serif;
    z-index: 2;
    text-transform: uppercase;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
 
.subtitle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center; 
}
.subtitle-container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center; 
}
.subtitle-others{
    z-index: 2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 300;

}
.subtitle-others-2{
    font-family: 'BodoniModa', serif;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}
.contact-button {
    font-size: 14px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--background-color);
    text-transform: uppercase;
}

.contact-button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

/* Main Content Styles */
main {
    padding: 0rem 5rem 0rem 5rem;
    margin-top: 50vh; /* Adjust margin to be consistent with hero height */
}


/* Form Styles */
#contact {
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--primary-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    border-radius: 5px;
}

form .name-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
}

form .name-fields input {
    width: 100%;
}

form .captcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

form label {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 100%;
    color: var(--background-color); 
}

form input, form textarea {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--background-color);
    box-sizing: border-box;
    color: var(--background-color);
    background-color: transparent;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: var(--background-color);
    box-shadow: 0 0 5px rgba(242, 239, 234, 0.295);
}

form button {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Footer Styles */
footer { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    width: 100%;
    height: 80px;
}

/* Photo Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination a {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    margin: 0 0.25rem;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.pagination a.active {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
}

.about-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.button-about{
    background: var(--primary-color);
    border-radius: 999px;
    box-shadow: var(--primary-color) 0 10px 20px -10px;
    box-sizing: border-box;
    color: var(--background-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    margin-top: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
    word-break: break-word;
    border: 0;
  }
.button {
  background: var(--primary-color);
  border-radius: 999px;

  box-sizing: border-box;
  color: var(--background-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  margin-top: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button-about {background-image: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 25%,  var(--primary-color)75%, var(--secondary-color)  100%)}
.button-about {
    box-sizing: border-box;
   margin-top: 15px;
   cursor: pointer;
   padding: 8px 18px;
   text-align: center;
   user-select: none;
   font-size: 14px;
   font-weight: 500;
   line-height: 24px;
   -webkit-user-select: none;
   touch-action: manipulation;
   transition: 0.5s;
   background-size: 200% auto;
   color: var(--background-color);        
   font-size: 14px;    
   box-shadow: var(--primary-color) 0 10px 20px -10px;
   border-radius: 999px;
   display: block;
   border: 0;
 }

 .button-about:hover {
   background-position: right center; 
   color: var(--background-color);
   text-decoration: none;
 }

/* About Section Styles */
.main-about{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#about-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:20px 50px 20px 100px;
    width: 100%;
    height: 100%;
}

#about-page .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}
#about-page h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
}


#about, #services, #testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    background-color: var(--background-color);
    margin-bottom: 2rem;
}

#about h2, #services h2, #testimonials h2, #home-services h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}
#about h3, #services h3, #testimonials h3, #timeline h3, #about-page h3, #home-services h3 { 
    display: flex;
    justify-content: center;
    color: var(--text-color);
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
#about p, #about-page p{
    text-align: justify;
    margin-left: 4rem;
    font-size: 18px;
}
#about .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
}

#about img, #about-page img {
    max-width: 300px;
    margin-bottom: 1rem;
}

/* Domains Section Styles */
#services{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    background-color: var(--background-color);
    margin-bottom: 2rem;
}
.service-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 20px;
}

.service {
    display: flex;
    text-align: justify;
    gap: 10px;
}
.service .picture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
   
}
.service .picture .prix{
    font-size: 15px;
    font-weight: 500;
    margin-top: 1rem;

}

.service .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
}
.service img{
width: 400px;
height: 250px;

}

.service h4{
    font-family: 'BodoniModa', serif;
  margin-bottom: 1rem;
  font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
}

#home-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    background-color: var(--background-color);
    margin-bottom: 2rem;
}

.home-service-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 20px;
    flex-wrap: nowrap;
}

.home-service {
    text-align: justify;
    gap: 10px;
}
.home-service img{
width: 100%;
height: 350px;
 margin-bottom: 1rem;

}
.home-service h4{
    font-family: 'BodoniModa', serif;
  margin-bottom: 1rem;
  font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
}


/* Testimonials Section Styles */


#testimonials .testimonial {
    background-color: var(--background-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#testimonials .testimonial {
    background-color: var(--background-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Timeline Section Styles */
#timeline {
    padding: 2rem 0;
    background-color: var(--background-color);
}

#timeline h2 {
     display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 80%;
}

.timeline-point {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    flex-shrink: 0;
}

.timeline-content {
    margin-left: 1rem;
    padding: 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.timeline-content h4 {
    color: var(--text-color);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.timeline-content p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: var(--text-color);
}

/* Slider Styles */
#slider {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.5);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
    z-index: 10; /* Ensure it is above other elements */
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--background-color);
    margin: 4px 0;
    transition: 0.4s;
}


/* Media Queries */
@media (max-width: 1200px) {
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }
    .about-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .button-about{
        display: flex;
justify-content: center;
align-items: center;
        width: 300px;
      
      }
    #about .about-content {
 
        flex-direction: column;
    }
    .home-service-content{
   
        flex-wrap: wrap;
    }
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 600px) {
    #home-services{
        width: 100%;
    }
    .home-service img {
        width: 200px;
    }
    #about .about-content {
 
        flex-direction: column;
    }
    .home-service-content{
   
        flex-wrap: wrap;
    }
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    form {
        width: 100%;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .button-about{
        width: 200px;
      
      }
    #about .about-content {
        flex-direction: column;
    }

    #about p {
        margin-left: 0px;
    }
    .home-service-content{
   
        flex-wrap: wrap;
    }
    
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-center{
    flex: 0;
    }
    .menu-right{
        width: 20%;
        flex: 0;   
    }
    .menu-left {
        display: none;
    }

    .hamburger {
        display: flex;
        margin-left: 15px;
        width: 30%;
        flex: 0;
    }

    .menu-left.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        z-index: 5;
    }

    .menu-left.active li {
        margin: 1rem 0;
    }

    .menu-left.active li a{
        color: var(--background-color);
    }

    .menu-left, .menu-right {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .menu-left.active, .menu-right.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        z-index: 5;
    }

    .menu-left.active li, .menu-right.active li {
        margin: 1rem 0;
    }

    .menu-left.active li a, .menu-right.active li a {
        color: var(--background-color);
    }

    .menu-center {
        display: flex;
        justify-content: center;
        width: 60%; /* Center the logo */
        margin-top: 10px;
    }

    .menu-left, .menu-right {
        width: 20%; /* Set left and right menus to 20% width */
    }

    .logo {
        height: 100px;
        width: 110px;
    }

    .subtitle {
        font-size: 2rem;
    }

    .subtitle-others-2 {
        font-size: 1.5rem;
    }

    .subtitle-others {
        font-size: 0.7rem;
    }

    .button, .button-about {
        width: 100%;
    }

    .container-price {
        flex-direction: column;
    }

    .price {
        width: 100%;
    }
}
